<article class="{{post_class}}">
  <a href="{{url}}">
    <h1>{{title}}</h1>
    <img src="{{image}}" alt="Imagen de {{title}}" />
    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM"}}</time>
  </a>
</article>