{{!< default}}

{{#post}}
  <main class="article {{post_class}}">
    <h1>{{title}}</h1>
    {{#if image}}
      <img class="article_main_image" src="{{image}}" alt="Imagen de {{title}}" />
    {{/if}}

    {{content}}

    <script>
      var form = document.querySelector("a.button.form");
      if (form) {
        form.onclick = function(){
          form.insertAdjacentHTML('afterEnd', '<h3 class="thanks">Gracias! <a href="http://facebook.com/sharer.php?u={{url absolute="true"}}">Compártelo con tus amigos</a></h3>');
          form.remove();
        }
      }

      // NEXT clicked
      var nexts = document.getElementsByClassName("next");
      if (nexts.length > 0) {
        var next = nexts[0];
        next.onclick = function(){
          _gaq.push(['_trackEvent', 'Link', 'next']);
          _gaq.push(['_trackPageview', '/next']);
          }
        }
    </script>
  </main>
{{/post}}
