<article class="{{post_class}}">
  <a href="{{url}}">
    <h1>{{title}}</h1>
    <img src="{{asset "images/logo.svg"}}" {{#if feature_image}}class="lazy" data-src="{{img_url feature_image}}"{{/if}} alt="Imagen de {{title}}" />
    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM"}}</time>
  </a>
</article>
