<!DOCTYPE html>
  <html lang="es">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{{meta_title}}</title>

      <meta name="keywords" content="Makers UPV, Makers, Valencia">
      <meta name="description" content="{{meta_description}}">

      <link rel="stylesheet" href="{{asset "css/main.entry.css"}}">
      <link rel="icon" href="{{asset "images/logo.png"}}">

      {{ghost_head}}

    </head>
    <body class="{{body_class}}">
      <nav>
        <a class="brand" href="{{@blog.url}}">
          <img class="logo" src="{{asset "images/logo.svg"}}" />
          <h2 class="name">{{@blog.title}}</h2>
        </a>

        <input id="bmenub" type="checkbox" class="show" />
        <label for="bmenub" class="burger pseudo button">&#8801;</label>
        <div class="menu">
          {{navigation}}
        </div>
      </nav>

      <div class="hero {{^is "index"}}small{{/is}}" style="background-image: url('{{@blog.cover}}');">
        {{#is "home"}}
          <div class="container">
            <h1>{{@blog.title}}</h1>
            <p>{{@blog.description}}</p>
            {{#if @labs.publicAPI}}
              {{#get "posts" limit="1" order="published_at desc" filter="featured:true" as |featured|}}
                {{#foreach featured limit="1"}}
                  <p class="hot">
                    <a href="{{url}}">{{title}}</a>
                  </p>
                {{/foreach}}
              {{/get}}
            {{/if}}
          </div>
        {{/is}}
      </div>

      {{{body}}}

      <footer>
        <strong>{{@blog.title}}.</strong> Encuéntranos en <a href="{{facebook_url @blog.facebook}}">Facebook</a> | <a href="{{twitter_url @blog.twitter}}">Twitter </a> | <a href="https://github.com/makers-upv">Github </a> | <a href="https://www.linkedin.com/groups/Makers-UPV-8123860">Linkedin </a> | <a href="https://www.flickr.com/photos/129849875@N03/">Flickr</a>
      </footer>

      <script src="{{asset "js/main.entry.js"}}"></script>

      {{ghost_foot}}
    </body>
</html>
