{{!< default}}

<main>
  <div class="flex one two-600 three-900">
    {{#is "paged"}}
      {{> post-list}}
      {{pagination}}
    {{else}}
      {{#if @labs.publicAPI}}
        {{#get "tags" limit="8" include="count.posts" fields="name,slug" order="count.posts desc" as |categories|}}
            <div class="category full">
              {{#foreach categories}}
                <label>
                  <input type="checkbox" data-type="{{slug}}" />
                  <span class="toggle pseudo button">{{name}}</span>
                </label>
              {{/foreach}}
            </div>
        {{/get}}
      {{/if}}
      {{> post-list}}
      {{pagination}}
    {{/is}}
  </div>


  {{> contact}}

</main>
